{% extends "base.html" %}

{% block extrahead %}
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <link type = "text/css" href="{{ MEDIA_URL }}jquery.treeTable.css" rel="stylesheet"/>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.treeTable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.custom_radio_checkbox.js"></script>

    <script type="text/javascript">
      
      $(document).ready(function(){
        var id_selradio = 0;
        $('.table_servers').treeTable({
          treeColumn: 0
        });
        $('.table_sets').treeTable({
          treeColumn: 1
        });
        $('.table_servers tr').mouseover(function(){
          $(this).addClass("over");
        });
        $('.table_servers tr').mouseout(function(){
          $(this).removeClass("over");
        });
        $('.table_sets tr').mouseover(function(){
          $(this).addClass("over");
        });
        $('.table_sets tr').mouseout(function(){
          $(this).removeClass("over");
        });
        $('.table_servers tr:even').addClass("alt");
        $('.table_sets tr:even').addClass("alt");
        
        $('#list_servers').change(function(){
          $('#servers').submit();
        });
        $('#list_sets').change(function(){
          $('#sets').submit();
        });
        $('.ch_head').click(function(){
          $("div").next('.ch_body').slideDown("slow");
          return false;
        });
        $(".layer_").draggable({
          helper: 'clone', 
          revert: 'invalid',
          opacity: 0.5
        });
        $(".table_sets tr").droppable({
          accept: ".layer_",
          hoverClass: 'droppable-hover',
          drop: function(event, ui) {
            /*$(this).append($(ui.draggable).clone());*/
            layer_fromset = ($(this).attr('id')).substring(7, ($(this).attr('id')).length);
            add_layer = ($(ui.draggable).attr('id')).substring(7, ($(ui.draggable).attr('id')).length);
            $("#set_layer").attr("value", layer_fromset);
            $("#layer").attr("value", add_layer);
            $("#sets_layer").submit();
          }
        });
        $(".checkbox").click(function(){
          //alert($(this).attr('src'));
          tr_layer = ($(this).attr('id')).substring(3, ($(this).attr('id')).length);
          table = ($(this).attr('id')).substring(0, 3);
          if($(this).attr('src') == "{{ MEDIA_URL }}images/square.png") {
            $(this).attr('src', "{{ MEDIA_URL }}images/ok_square.png");
            if (table == 'sq_'){
              $('#node-s'+tr_layer).addClass("checked");
            }
            if (table == 'qs_'){
              $('#node-ss'+tr_layer).addClass("checked");
            }
          }
          else{
            $(this).attr('src', "{{ MEDIA_URL }}images/square.png");
            if (table == 'sq_'){
              $('#node-s'+tr_layer).removeClass("checked");
            }
            if (table == 'qs_'){
              $('#node-ss'+tr_layer).removeClass("checked");
            }
          }
        });
        $(".radiobox").click(function(){
          if($('.radiobox').hasClass("checked")) {
            tr_layer = (id_selradio).substring(4, id_selradio.length);
            table = (id_selradio).substring(0, 4);
            $("#"+id_selradio).removeClass("checked");
            $("#"+id_selradio).attr('src', "{{ MEDIA_URL }}images/circle.png");
            if (table == "cst_"){
              $('#node-lt'+tr_layer).removeClass("checked");
            }
            else{
              $('#node-st'+tr_layer).removeClass("checked");
            }
          }
          tr_layer = ($(this).attr('id')).substring(4, ($(this).attr('id')).length);
          table = ($(this).attr('id')).substring(0, 4);
          if($(this).attr('src') == "{{ MEDIA_URL }}images/circle.png") {
            $(this).addClass("checked");
            $(this).attr('src', "{{ MEDIA_URL }}images/selected_circle.png");
            id_selradio = $(this).attr('id');
            if (table == "cst_"){
              $('#node-lt'+tr_layer).addClass("checked");
            }
            else{
              $('#node-st'+tr_layer).addClass("checked");
            }
          }
          else{
            $(this).attr('src', "{{ MEDIA_URL }}images/circle.png");
            $(this).removeClass("checked");
            if (table == "cst_"){
              $('#node-lt'+tr_layer).removeClass("checked");
            }
            else{
              $('#node-st'+tr_layer).removeClass("checked");
            }
          }
          
        });
      });
    </script>
     <style type = "text/css">
      .table_sets tr.droppable-hover td{
        background-color: #dcba84;
      }
      tr.alt td {
        background-color: #f5e2ac;
      }
      tr.over td {
        background: #dcba84;
      }
      tr.checked td{
        background-color: #dcba84;
      }
      #tabl1 {
        width: 80%;
        height: 100%;
        background-image: url({{ MEDIA_URL }}images/fon.png);
        background-repeat: no-repeat;
        align: left;
      }
      #tabl2_left {
        width: 100%;
        height: 100%;
        background-image: url({{ MEDIA_URL }}images/fon_small_left.png);
        background-position: 0% top;
        background-repeat: no-repeat;
      }
      #tabl2_right {
        width: 100%;
        height: 100%;
        background-image: url({{ MEDIA_URL }}images/fon_small_right.png);
        background-position: 0% top;
        background-repeat: no-repeat;
      }
      #tabl1_left {
        width: 46%;
        height: 5%;
        border-bottom: 1px solid black;
      }
      #tabl1_right {
        width: 50%;
        text-align: right;
        border-bottom: 1px solid black;
      }
      .root {
        width: 100%;
        height: 100%;
      }
      #thead_sourceWMS {
        vertical-align: bottom;
        border-right: 1px solid black;
        height: 5%;
      }
      #thead_customWMS{
        vertical-align: bottom;
        height: 5%;
      }
      #thead {
        height: 5%;
        //text-align: right;
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 28px;
        font-weight: normal;
      }
      #thead_low {
        height: 5%;
        //text-align: right;
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 25px;
        font-weight: normal;
      }
      #thead_small {
        //    text-align: left;
        font-style: italic;
        font-family: Verdana, 'Verdana';
        font-size: 18px;
        font-weight: normal;
        margin: 0px 0px 0px 10px;
        //    vertical-align: bottom; 
      }
      #thead_smaller {
        text-align: center;
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 16px;
        font-weight: normal;
        margin: 0px 0px 0px 10px;
      }
      #tbody {
        height: 90%;
      }
      #tbody_left {
        border-right: 1px solid black;
      }
      #image_menu {
        width: 20%;
        border-bottom: 1px solid black;
      }
      .select_style {
        direction: rtl;
        width: 100%;
        height: 75%;
        text-align: center;
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 20px;
        font-weight: normal;
        background-color: #f7efd6;
      }
      #LayerGroup {
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 18px;
        font-weight: normal;
        margin: 0px 0px 10px 0px;
        //    vertical-align: bottom; 
      }
      #tabl1_strok2 {
        height: 85%; #85
      }
      #tabl1_low {
        height: 5%;
      }
      #tabl2_strok1{
        height: 5%;
      }
      #tabl2_strok2{
        height: 80%;
      }
      .leftimg {
        //vertical-align: middle; 
        margin: 0px 10px 2px 0px;
      }
      .uppimg {
        vertical-align: middle; 
        margin: 0px 15px 0px 0px;
        border: 0; 
      }
      .resource_layers {
        vertical-align: top;
        overflow: auto;
        border-width: 1px;
        min-width: 350px;
        min-height: 570px;
        max-height: 570px;
        background-color: #f7efd6;
      }
      .set_layers {
        vertical-align: top;
        overflow: auto;
        border-width: 1px;
        min-width: 300px;
        min-height: 570px;
        max-height: 570px;
        background: #f7efd6;
      }
    </style>
{% endblock %}

{% block content %}

{% load mptt_tags %}
  <table id = "tabl1" cellpadding = "8" cellspacing = "0" border = "0">
    <TR id = "thead">
      <TD id = "tabl1_left">
        &nbsp;
      </TD>
      <TD id = "tabl1_right" colspan = "3">
        System of managment WMS Resources&nbsp;&nbsp;
      </TD>
    </TR>
    <TR id = "thead_low">
      <TD id = "thead_sourceWMS" align = "center">
        Source WMS server
      </TD>
      
      <TD id = "thead_customWMS" align = "center">
        <img src = "{{ MEDIA_URL }}images/copy.png"class = "uppimg" />
        Custom virtual WMS server
      </TD>
    </TR>
    <TR id = "tbody" align = "top">
      <TD id = "tbody_left">
        <table id = "tabl2_left" cellpadding = "0" cellspacing = "0" border = "0">
          <TR id = "tabl2_strok1">
              <TD id = "image_menu" align = "center">
                <img src = "{{ MEDIA_URL }}images/plus.png" border = "0" style = "margin-right: 1px;"/>
                <img src = "{{ MEDIA_URL }}images/update.png" border = "0" style = "margin-right: 1px;"/>
                <img src = "{{ MEDIA_URL }}images/pancel.png" border = "0" style = "margin-right: 1px;"/>
              </TD>
              <TD align = "center" style = "border-bottom: 1px solid black;">
                <form action = "" method = "get" id="servers">
                {{ list_servers }}
                <input type = hidden name="list_sets" value = "{{selected_set.id}}">
                </form>
              </TD>
              <TD width = "10%" align = "center" style = "border-bottom: 1px solid black;">
                <img src = "{{ MEDIA_URL }}images/krest.png" border = "0" align = "center"/>
              </TD>
          </TR>
          <TR id = "tabl2_strok2" style = "border-top: 1px solid black; background-color: #f7efd6;">
            <TD colspan = "3">
              <div class = "resource_layers" style = "vertical-align: top;">
                <form action = "" method = "get">
                  <table border = "0" align = "top" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0">
                    <tr height = "6%">
                      <td width = "95%" style = "border-bottom: 1px solid black;">
                        <p id = "thead_smaller">
                          WMS layers
                        </p>
                      </td>
                      <td width = "5%" style = "border-bottom: 1px solid black;">
                        <img src = "{{ MEDIA_URL }}images/add.png" border = "0" style = "margin: 3px 10px 3px 0px;" align = "right"/>
                        <input type = hidden name="list_sets" value = "{{selected_set.id}}">
                      </td>
                    </tr>
                    <tr>
                      <td colspan = "2">
                        <table class="table_servers" border = "0" align = "top" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0">
                          <tbody>
                            <tr width = "100%" id="node-ss{{ selected_server.id }}">
                              <td>
                                <span style = "margin: 0px 0px 0px 0px; font-size: 17px; font-family: Verdana, 'Verdana'; cursor: pointer;" class="layer_">
                                  WMS Server {{ selected_server.Title }}({{ selected_server.Name }})
                                </span>
                              </td>
                              <td width = "10%" align = "center">
                                <img src = "{{ MEDIA_URL }}images/square.png" id = "qs_{{selected_server.id}}" class = "checkbox" border = "0"/>
                              </td>
                            </tr>
                          {% recursetree nodes_layers %}
                            {% if node.server_id == selected_server.id %}
                              {% if node.parent_id %}
                                <tr id="node-s{{node.id}}" class="child-of-node-s{{node.parent_id}}" >
                              {% else %}
                                <tr id="node-s{{node.id}}" class="child-of-node-ss{{node.server_id}}">
                              {% endif %}
                                <td>
                                  {% if node.is_leaf_node %}
                                    <span style = "margin: 0px 0px 0px 10px; font-size: 17px; font-family: Verdana, 'Verdana'; cursor: pointer;" class="layer_" id = "ll{{node.id}}">
                                  {% else %}
                                    <span style = "margin: 0px 0px 0px 0px; font-size: 17px; font-family: Verdana, 'Verdana'; cursor: pointer;" class="layer_" id = "ll{{node.id}}">
                                  {% endif %}
                                  
                                  {% if node.name %}
                                    {{ node.name }} ({{ node.title}}) 
                                  {% else %}
                                    {{ node.title}}
                                  {% endif %}
                                  
                                  </span>
                                </td>
                                <td width = "10%" align = "center">
                                  <img src = "{{ MEDIA_URL }}images/square.png" id = "sq_{{node.id}}" class = "checkbox" border = "0"/>
                                </td>
                              </tr>
                              {% if not node.is_leaf_node %}
                                {{ children }}
                              {% endif %}
                            {% endif %}
                          {% endrecursetree %}
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>
            </TD>
          </TR>
          <TR id = "tabl2_strok1">
            <TD colspan = "3" align = "center" style = "border-top: 1px solid black; border-bottom: 1px solid black; background-color: #f7efd6;">
              <img src = "{{ MEDIA_URL }}images/add.png" border = "0" class = "leftimg" style = "margin: 2px 10px 2px 0px;" align = "right"/>
            </TD>
          </TR>
          <TR id = "tabl2_strok1" style = "border-top: 1px solid black;">
            <TD colspan = "3">
              &nbsp;
            </TD>
          </TR>
          <TR id = "tabl2_strok1" style = "border-top: 1px solid black;">
            <TD colspan = "3">
              &nbsp;
            </TD>
          </TR>
        </table>
      </td>
      <td>
        <table border = "0" id = "tabl2_right" cellpadding = "0" cellspacing = "0">
          <TR id = "tabl2_strok1">
            <TD width = "15%" align = "right" style = "border-bottom: 1px solid black;">
              <img src = "{{ MEDIA_URL }}images/plus.png" border = "0" style = "margin-right: 1px;"/>
              <img src = "{{ MEDIA_URL }}images/pancel.png" border = "0" style = "margin-right: 5px;"/>
            </TD>
            <TD width = "78%" style = "border-bottom: 1px solid black;">
              <form action = "" method = "get" id="sets">
                {{ list_sets }}
                <input type = hidden name="list_servers" value = "{{selected_server.id}}">
              </form>
            </TD>
            <TD width = "10%" style = "border-bottom: 1px solid black;">
              <img src = "{{ MEDIA_URL }}images/krest.png" border = "0" align = "center" style = "margin-left: 5px;" />
            </TD>
          </TR>
          <TR id = "tabl2_strok2" colspan = "3" style = "background-color: #f7efd6;">
            <TD colspan = "3">
              <div class = "set_layers">
                <table border = "0" align = "top" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0">
                  <tr height = "6%">
                    <td width = "8%" style = "border-bottom: 1px solid black; border-right: 1px solid black;">
                      <p style = "margin: 0px 0px 0px 1px; font-size: 11px; font-family: Verdana, 'Verdana';">
                        add
                      </p>
                      <p style = "margin: 0px 0px 0px 9px; font-size: 11px; font-family: Verdana, 'Verdana';">
                        here
                      </p>
                    </td>
                    <td style = "border-bottom: 1px solid black;">
                      <p id = "thead_smaller">
                        WMS layers
                      </p>
                    </td>
                    <td width = "5%" style = "border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;" align = "center">
                      <p style = "margin: 0px 0px 0px 0px; font-size: 14px; font-family: Verdana, 'Verdana';">
                        pas
                      </p>
                    </td>
                    <td width = "5%" style = "border-bottom: 1px solid black; border-right: 1px solid black;" align = "center">
                      <p style = "margin: 0px 0px 0px 0px; font-size: 14px; font-family: Verdana, 'Verdana';">
                        style
                      </p>
                    </td>
                    <td width = "7%" style = "border-bottom: 1px solid black; border-right: 1px solid black;" align = "center">
                      <p style = "margin: 0px 0px 0px 0px; font-size: 14px; font-family: Verdana, 'Verdana';">
                        on/off
                      </p>
                    </td>
                    <td width = "5%" style = "border-bottom: 1px solid black;" align = "left">
                      <p style = "margin: 0px 0px 0px 4px; font-size: 14px; font-family: Verdana, 'Verdana';">
                        del
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td colspan = "6">
                      <form action = "" method = "get" id="sets_layer">
                      <table class="table_sets" border = "0" align = "top" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0">
                        <tbody>
                          <tr width = "100%" id="node-lt{{ selected_set.id }}">
                            <td align = "center" width = "8%" >
                              <img src = "{{ MEDIA_URL }}images/circle.png" id = "cst_{{selected_set.id}}" class = "radiobox" border = "0"/>
                            </td>
                            <td class = "set_layer_">
                              <span style = "margin: 0px 0px 0px 0px; font-size: 17px; font-family: Verdana, 'Verdana';">
                                Virtual WMS Server {{ selected_set.title }}({{ selected_set.name }})
                              </span>
                            </td>
                            <td width = "5%" align = "center">
                              <img src = "{{ MEDIA_URL }}images/key.png" border = "0"/>
                            </td>
                            <td width = "5%" align = "center">
                              &nbsp;
                            </td>
                            <td width = "7%" align = "center">
                              &nbsp;
                            </td>
                            <td width = "5%" align = "center">
                              &nbsp;
                            </td>
                          </tr>
                        {% recursetree nodes_layertree %}
                          {% if node.ls_id == selected_set.id %}
                              {% if node.parent_id %}
                              <tr id="node-st{{node.id}}" class="child-of-node-st{{node.parent_id}}">
                            {% else %}
                              <tr id="node-st{{node.id}}" class="child-of-node-lt{{node.ls_id}}">
                            {% endif %}
                              <td align = "center" width = "8%">
                                <img src = "{{ MEDIA_URL }}images/circle.png" id = "cir_{{node.id}}" class = "radiobox" border = "0"/>
                              </td>
                              <td class="set_layer_">
                                {% if node.is_leaf_node %}
                                <span style = "margin: 0px 0px 0px 10px; font-size: 17px; font-family: Verdana, 'Verdana';">
                                  {{ node.name }}
                                </span>
                                {% else %}
                                <span style = "margin: 0px 0px 0px 0px; font-size: 17px; font-family: Verdana, 'Verdana';">
                                  {{ node.name }}
                                </span>
                                {% endif %}
                              </td>
                              <td width = "5%" align = "center">
                                <img src = "{{ MEDIA_URL }}images/key.png" border = "0"/>
                              </td>
                              <td width = "5%" align = "center">
                                {% if node.sld_id %}
                                  <img src = "{{ MEDIA_URL }}images/style.png" border = "0"/>
                                {% else %}
                                  <img src = "{{ MEDIA_URL }}images/default_style.png" border = "0"/>
                                {% endif %}
                              </td>
                              <td width = "7%" align = "center">
                                <img src = "{{ MEDIA_URL }}images/square.png" class = "checkbox" border = "0"/>
                              </td>
                              <td width = "5%" align = "center">
                                <img src = "{{ MEDIA_URL }}images/delete.png" border = "0"/>
                              </td>
                            </tr>
                            {% if not node.is_leaf_node %}
                              {{ children }}
                            {% endif %}
                          {% endif %}
                        {% endrecursetree %}
                      </tbody>
                    </table>
                      <input type = hidden name="layer" value = "" id = "layer">
                      <input type = hidden name="set_layer" value = "" id="set_layer" >
                      <input type = hidden name="list_servers" value = "{{selected_server.id}}">
                      <input type = hidden name="list_sets" value = "{{selected_set.id}}">
                    </form>
                      </td>
                    </tr>
                  </table>

                </div>
              </TD>
            </TR>
            <tr height = "10%">
              <td colspan = "3" style = "border-top: 1px solid black;">
                <table border = "0" align = "center" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0">
                  <tr height = "50%">
                    <td colspan = "3" height = "50%">
                      <p id = "thead_small" style = "vertical_align: bottom;" style = "margin: 0px 10px 0px 0px;">
                        Add custom LayerGroup:
                      </p>
                    </td>
                  </tr>
                  <tr height = "50%">
                    <td id = "LayerGroup" width = "45%" height = "50%" style = "border-left: 0px solid black;">
                      <p style = "margin: 1px 10px 0px 0px;">
                        Name &nbsp;
                        <INPUT type=text name="Name Layer" size = "25" style = "height: 1.em;">
                      </p>
                    </td>
                    <td id = "LayerGroup">
                      <p style = "margin-left: 10px;">
                        Title &nbsp;
                        <INPUT type=text name="Title Layer" size = "28" style = "height: 1.em;">
                      </p>
                    </td>
                    <td id = "LayerGroup" width = "7%" align = "right">
                      <img src = "{{ MEDIA_URL }}images/default_add.png" style = "vertical_align: bottom; margin-left: 10px;" border = "0" align = "right"/>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr id = "tabl2_strok1">
              <td colspan = "3" style = "border-top: 1px solid black;">
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
      </TR>
    </table>

{% endblock %}
    
    
