{% extends "base.html" %}

{% block extrahead %}
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
    <link type = "text/css" href="{{ MEDIA_URL }}jquery.treeTable.css" rel="stylesheet"/>
    <link type = "text/css" href="{{ MEDIA_URL }}jquery.prompt.css" rel="stylesheet"/>
    
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ui.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.treeTable.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-impromptu.3.1.js"></script>

    <script type="text/javascript">
      
      $(document).ready(function(){
        //$.cookie('message', null);
        window.onload = strwrap();
        function strwrap(){
          //var allmsg = document.getElementByClassName('wordwrp');
          allmsg = $('.wordwrp');
          for (var i = 0; i < allmsg.length; i++){
            allmsg[i].innerHTML = (allmsg[i].innerHTML).replace(/\S{9}/gim, '$&<wbr />');
          }
        }
        
        {%if name_sets %}
          txt = "Can't remove a server {{selected_server}} because its layers are found on sets of:"
          {% for i in name_sets%}
            txt += " {{i.0}}"
          {% endfor %}
          txt += "."
          $.prompt(txt, {
                 buttons: {ok: true},
          });
        {% endif %}

        strerrlayer = "";
        strerrlayer = $.cookie('errorlayer');
        {% if error_layers %}
          if (strerrlayer){
            strerrlayer = "{{error_layers}}" + strerrlayer;
          }
          else{
            strerrlayer = "{{error_layers}}";
          }
        {% endif %}
        if (strerrlayer){ 
          posit = strerrlayer.indexOf(';');
          layername = "";
          lparent = 0;
          layer_id = 0;
          if (posit != -1){
            paramlayer = strerrlayer.substring(0, posit);
            tmp = paramlayer.indexOf(' ?end ');
            layername = (paramlayer.substring(0, tmp)).replace(/^\s+/, "").replace(/\s+$/, "");
            tmp2 = paramlayer.indexOf(' ', tmp+6);
            lparent = paramlayer.substring(tmp+6, tmp2);
            layer_id = paramlayer.substring(tmp2+1, posit);
          }
          if (posit != strerrlayer.length){
            $.cookie('errorlayer', strerrlayer.substring(posit+1, strerrlayer.length));
          }
          else{
            $.cookie('errorlayer', null);
          }
          function addlayer(v, m, f){
            if(!v){
              $.cookie('errorlayer', null);
              return true;
            }
            if((f.namelayer == "") || (f.namelayer == layername)){
              an = m.children('#namelayer');
              an.css("border", "solid #ff0000 1px");
              return false;
            }
            $('#oprt').attr("value", "add");
            $("#set_layer").attr("value", lparent);
            $("#layer").attr("value", layer_id);
            $("#namelayer").attr("value", f.namelayer);
            $("#sets_layer").submit();
          }
          txt = "A layer name is already in the set, you can change the name:<br/>"
          txt += " <input type=\"text\" id = \"namelayer\" name=\"namelayer\" value =\"";
          txt +=  layername + "\" class = \"input_text\" style = \"margin-top: 5px;\"/> ";
          $.prompt(txt, {
                 buttons: {ok: true, cancel: false},
                 submit: addlayer,
                 focus: 0
          });
        }
        
        var id_selradio = 0;
        $('.table_servers').treeTable({
          treeColumn: 0
        });
        $('.table_sets').treeTable({
          treeColumn: 1
        });
        $('.table_servers tr').mouseover(function(){
          $(this).addClass("over");
        });
        $('.table_servers tr').mouseout(function(){
          $(this).removeClass("over");
        });
        $('.table_sets tr').mouseover(function(){
          $(this).addClass("over");
        });
        $('.table_sets tr').mouseout(function(){
          $(this).removeClass("over");
        });
        $('.table_servers tr:even').addClass("alt");
        $('.table_sets tr:even').addClass("alt");
        
        $('#list_servers').change(function(){
          $('#servers').submit();
        });
        $('#list_sets').change(function(){
          $('#sets').submit();
        });
        $('.ch_head').click(function(){
          $("div").next('.ch_body').slideDown("slow");
          return false;
        });
        $(".layer_").draggable({
          helper: 'clone', 
          revert: 'invalid',
          opacity: 0.5,
        });
        $(".table_sets tr").droppable({
          accept: ".layer_",
          hoverClass: 'droppable-hover',
          drop: function(event, ui) {
            layer_fromset = ($(this).attr('id')).substring(7, ($(this).attr('id')).length);
            if($('#cir_'+layer_fromset).attr('src') == "{{ MEDIA_URL }}images/shaded_circle.png") {
              return false;
            }
            add_layer = ($(ui.draggable).attr('id')).substring(2, ($(ui.draggable).attr('id')).length);
            $('#oprt').attr("value", "add");
            $("#set_layer").attr("value", layer_fromset);
            $("#layer").attr("value", add_layer);
            $("#sets_layer").submit();
          }
        });
        $(".checkbox").click(function(){
          //alert($(this).attr('src'));
          tr_layer = ($(this).attr('id')).substring(3, ($(this).attr('id')).length);
          table = ($(this).attr('id')).substring(0, 3);
          if(table == 'sq_')
            id_list = '#list_layers';
          list_layers = $(id_list).attr('value');
          if($(this).attr('src') == "{{ MEDIA_URL }}images/square.png") {
            $(this).attr('src', "{{ MEDIA_URL }}images/ok_square.png");
            if (table == 'sq_'){
              $('#node-s'+tr_layer).addClass("checked");
            }
            if (tr_layer == 0){
              $('#node-ss'+tr_layer).addClass("checked");
            }
            if (list_layers == "")
              $(id_list).attr('value', tr_layer + ' ');
            else {
              $(id_list).attr('value', list_layers + ',' + tr_layer + ' ');
            }
          }
          else{
            $(this).attr('src', "{{ MEDIA_URL }}images/square.png");
            if (table == 'sq_'){
              $('#node-s'+tr_layer).removeClass("checked");
            }
            if (tr_layer == 0){
              $('#node-ss'+tr_layer).removeClass("checked");
            }
            if (list_layers != "") {
              findstr = tr_layer + ' ';
              pos_elem = list_layers.indexOf(findstr);
              while(pos_elem != -1){
                if(pos_elem == 0){
                  if(list_layers.indexOf(',') !=-1)
                    list_layers = list_layers.substring(findstr.length + 1, list_layers.length);
                  else
                    list_layers = '';
                  $(id_list).attr('value', list_layers);
                  break;
                }
                if(list_layers[pos_elem-1] == ','){
                  list_layers = list_layers.substring(0, pos_elem-2) + list_layers.substring(pos_elem-1 + findstr.length, list_layers.length);
                  $(id_list).attr('value', list_layers);
                  break;
                }
                pos_elem = list_layers.indexOf(findstr);
              }
            }
          }
        });
        $(".radiobox").click(function(){
          if($(this).attr('src') == "{{ MEDIA_URL }}images/shaded_circle.png") {
              return;
          }
          if($('.radiobox').hasClass("checked")) {
            tr_layer = (id_selradio).substring(4, id_selradio.length);
            table = (id_selradio).substring(0, 4);
            $("#"+id_selradio).removeClass("checked");
            $("#"+id_selradio).attr('src', "{{ MEDIA_URL }}images/circle.png");
            if (table == "cst_"){
              $('#node-lt'+tr_layer).removeClass("checked");
            }
            else{
              $('#node-st'+tr_layer).removeClass("checked");
            }
          }
          tr_layer = ($(this).attr('id')).substring(4, ($(this).attr('id')).length);
          table = ($(this).attr('id')).substring(0, 4);
          if($(this).attr('src') == "{{ MEDIA_URL }}images/circle.png") {
            $(this).addClass("checked");
            $(this).attr('src', "{{ MEDIA_URL }}images/selected_circle.png");
            id_selradio = $(this).attr('id');
            if (table == "cst_"){
              $('#node-lt'+tr_layer).addClass("checked");
            }
            else{
              $('#node-st'+tr_layer).addClass("checked");
            }
            $('#to_layer').attr('value', tr_layer);
            //alert($('#to_layer').attr('value'));
          }
          else{
            $(this).attr('src', "{{ MEDIA_URL }}images/circle.png");
            $(this).removeClass("checked");
            if (table == "cst_"){
              $('#node-lt'+tr_layer).removeClass("checked");
            }
            else{
              $('#node-st'+tr_layer).removeClass("checked");
            }
            $('#to_layer').attr('value', '');
          }
          
        });
       $("#add_service").click(function(){
          var txt = "Please, get URL new service: <br/>"
          {%if selected_server %}
            txt += " <input type=\"text\" id = \"URL\" name=\"URL\" value=\"{{selected_server.url}}\" class = \"input_text\" style = \"margin-top: 5px;\"/> ";
          {%else%}
            txt += " <input type=\"text\" id = \"URL\" name=\"URL\" value=\"http://\" class = \"input_text\" style = \"margin-top: 5px;\"/> ";
          {% endif %}
          function add(v, m, f){
            if(!v)
              return true;
            {%if selected_server %}
              if((f.URL == "") || (f.URL == "{{selected_server.url}}")){
                an = m.children('#URL');
                an.css("border", "solid #ff0000 1px");
                return false;
              }
            {%else%}
              if(f.URL == ""){
                an = m.children('#URL');
                an.css("border", "solid #ff0000 1px");
                return false;
              }
            {% endif %}
            $("#service").attr('value', 'add_'+f.URL);
            $("#servers_manager").submit();
            return true;
          }
          $.prompt(txt, {
                 buttons: {ok: true, cancel: false},
                 submit: add
          });

       });
      $("#update_service").click(function(){
        {% if selected_server %}
          var txt = "Do you really want to update {{selected_server.url}} service? <br/>"
          function update(v, m, f){
            if(!v)
              return true;
            $("#service").attr('value', 'update');
            $("#servers_manager").submit();
            return true;
          }
          $.prompt(txt, {
                 buttons: {ok: true, cancel: false},
                 submit: update
          });
        {% else %}
          var txt = "You have not added a single server <br/>"
          $.prompt(txt, {
                 buttons: {ok: true},
                 focus: 0
          });
        {% endif %}
       }); 
      $("#edit_service").click(function(){
        {% if selected_server %}
          var txt = "Do you really want to edit {{selected_server.title}}({{selected_server.name}}) service? <br/>"
          txt += "<input type=\"text\" id = \"URL\" name=\"URL\" value=\"{{selected_server.url}}\" class = \"input_text\" style = \"margin-top: 5px;\"/> "
          function edit(v, m, f){
            if(!v)
              return true;
            if(f.URL == ""){
              an = m.children('#URL');
              an.css("border", "solid #ff0000 1px");
              return false;
            }
            if(f.URL != "{{selected_server.url}}"){
              $("#service").attr('value', 'edit_' + f.URL);
              $("#servers_manager").submit();
            }
            return true;
          }
          $.prompt(txt, {
                 buttons: {ok: true, cancel: false},
                 submit: edit
          });
        {% else %}
          var txt = "You have not added a single server <br/>"
          $.prompt(txt, {
                 buttons: {ok: true},
                 focus: 0
          });
        {% endif%}
       }); 
      $("#delete_service").click(function(){
          {% if selected_server %}
            var txt = "Do you want to remove the server of {{selected_server.name}}?<br/>";

            function delete_server(v, m, f){
              if(!v){
                return true;
              }
              $("#delete_server").attr('value', 'yes');
              $("#servdel_manager").submit();
            }
            $.prompt(txt, {
                     buttons: {ok: true, cancel: false},
                     submit: delete_server,
                     focus: 1
            });
          {% else %}
            var txt = "You have not added a single server <br/>"
            $.prompt(txt, {
                   buttons: {ok: true},
                   focus: 0
            });
          {% endif %}
        });
        $("#delete_set").click(function(){
          {% if selected_set %}
            var txt = "Do you want to remove the set of {{selected_set.name}}?<br/>";

            function delete_set(v, m, f){
              if(!v){
                return true;
              }
              $("#del_set").attr('value', 'yes');
              $("#setvdel_manager").submit();
            }
            $.prompt(txt, {
                     buttons: {ok: true, cancel: false},
                     submit: delete_set,
                     focus: 1
            });
          {% else %}
            var txt = "You have not added a single set <br/>"
            $.prompt(txt, {
                   buttons: {ok: true},
                   focus: 0
            });
          {% endif %}
        });
        $(".add_set").click(function(){
          
          var txt = "Please, get set paramentrs:"
          txt += "<input type=\"text\" id = \"name\" name=\"name\" value=\"name\" class = \"input_text\" style = \"margin-top: 5px;margin-bottom: 5px;\"/>"
          txt += "<input type=\"text\" id = \"title\" name=\"title\" value=\"title\" class = \"input_text\" style = \"margin-bottom: 5px;\"/> "
          txt += "<input type=\"text\" id = \"abstract\" name=\"abstract\" value=\"abstract\" class = \"input_text\" style = \"margin-bottom: 5px;\"/> "
          txt += "<input type=\"text\" id = \"keywords\" name=\"keywords\" value=\"keywords\" class = \"input_text\" style = \"margin-bottom: 5px;\"/> "
          function add_set(v, m, f) {
            if(!v)
              return true;
          
            if(f.name == ""){
              an = m.children('#name');
              an.css("border", "solid #ff0000 1px");
              return false;
            }
            if(f.title == ""){
              an = m.children('#title');
              an.css("border", "solid #ff0000 1px");
              return false;
            }
            $("#name_set").attr('value', f.name);
            $("#title_set").attr('value', f.title);
            $("#add_set").attr('value', 'yes');
            if(f.abstract)
              $("#abstract_set").attr('value', f.abstract);
            if(f.keywords)
              $("#keywords_set").attr('value', f.keywords);
            $("#set_manager").submit();
          }
          $.prompt(txt, {
                 buttons: {ok: true, cancel: false},
                 submit: add_set
          });
        });
        $(".edit_set").click(function(){
          {% if selected_set %}
            var txt = "Please, get set paramentrs:<br/>"
            txt += "Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=\"text\" id = \"name\" name=\"name\" value=\"{{selected_set.name}}\" class = \"input_text\" style = \"margin-top: 5px;margin-bottom: 5px;\"/><br/>"
            txt += "Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type=\"text\" id = \"title\" name=\"title\" value=\"{{selected_set.title}}\" class = \"input_text\" style = \"margin-bottom: 5px;\"/><br/> "
            txt += "Abstract:&nbsp;&nbsp;&nbsp;&nbsp;<input type=\"text\" id = \"abstract\" name=\"abstract\" value=\"{{selected_set.abstract}}\" class = \"input_text\" style = \"margin-bottom: 5px;\"/><br/>"
            txt += "Keywords:&nbsp;&nbsp;<input type=\"text\" id = \"keywords\" name=\"keywords\" value=\"{{selected_set.keywords}}\" class = \"input_text\" style = \"margin-bottom: 5px;\"/>"
            function edit_set(v, m, f) {
              if(!v)
                return true;
          
              if(f.name == ""){
                an = m.children('#name');
                an.css("border", "solid #ff0000 1px");
                return false;
              }
              if(f.title == ""){
                an = m.children('#title');
                an.css("border", "solid #ff0000 1px");
                return false;
              }
              $("#name_set").attr('value', f.name);
              $("#title_set").attr('value', f.title);
              $("#edit_set").attr('value', 'yes');
              if(f.abstract)
                $("#abstract_set").attr('value', f.abstract);
              if(f.keywords)
                $("#keywords_set").attr('value', f.keywords);
              $("#set_manager").submit();
            }
            $.prompt(txt, {
                 buttons: {ok: true, cancel: false},
                 submit: edit_set
            });
          {% else %}
            var txt = "You have not added a single set <br/>"
            $.prompt(txt, {
                   buttons: {ok: true},
                   focus: 0
            });
          {% endif %}
        });
        $('.add_inset').click(function(){
          var txt;
          {% if selected_set %}
            function borderstyle(v, m, f){
              $('.add_inset').css('border', '0px')
            }
          
            $(this).css('border', '1px dotted black')
            $(this).css('border-radius', '1px')
            $(this).css('-moz-border-radius', '1px')
            $(this).css('-webkit-border-radius', '1px')
            $(this).css('z-index', '-1')          

            list_layers = $('#list_layers').attr('value');
            to_layer = $('#to_layer').attr('value');
            if(!list_layers){
              txt = " Please, select the layers to add in the \"{{selected_set.name}}\" set."
              $.prompt(txt, {
                   buttons: {ok: true},
                   submit: borderstyle
              });
            }
            else{
              if(!to_layer){
                txt = " Please, select which layers will be added in the \"{{selected_set.name}}\" set."
                $.prompt(txt, {
                   buttons: {ok: true},
                  submit: borderstyle,
                  focus: 0
                });
              }
            }
            if(list_layers && to_layer){
              $('#oprt_add').attr("value", "add");
              $('#wmslayer').submit();
            }
          {% else %}
            var txt = "You have not added a single set <br/>"
            $.prompt(txt, {
                   buttons: {ok: true},
                   focus: 0
            });
          {% endif %}
        });
        $('#add_group').click(function(){
          {% if selected_set %}
            function borderstyle(v, m, f){
              $('#add_group').css('border', '0px')
            }
          
            $(this).css('border', '1px dotted black')
            $(this).css('border-radius', '1px')
            $(this).css('-moz-border-radius', '1px')
            $(this).css('-webkit-border-radius', '1px')
            $(this).css('z-index', '-1')          
            title = $('#title_group').attr('value');
            if(!title) {
              txt = "Enter the title of the new group."
              $.prompt(txt, {
                buttons: {ok: true},
                submit: borderstyle,
                focus: 0
              });
            }else{
              if(!$('#to_layer').attr('value')){
                txt = " Please, select which layers will be added in the \"{{selected_set.name}}\" set."
                $.prompt(txt, {
                  buttons: {ok: true},
                  submit: borderstyle,
                  focus: 0
                });
              }
              else{
                $('#where_layer').attr('value', $('#to_layer').attr('value'))
                if(title){
                  $("#add_newgroup").submit();
                }
              }
            }
          {% else %}
            var txt = "You have not added a single set <br/>"
            $.prompt(txt, {
                   buttons: {ok: true},
                   focus: 0
            });
          {% endif %}
        });
        $('.dlt_layer').click(function(){
          var id_layer = "";
          function del_layer(v, m, f){
            if (!v){
              return true;
            }
            if(f.display){
              $.cookie('message', "notdisp", {expires: 1});
            }
            if (id_layer){
              $('#set_layer').attr('value', id_layer);
              $('#oprt').attr('value', 'del')
              $('#sets_layer').submit();
            }
          }
          if($(this).attr('id')){
            if (!$.cookie('message')) {
              var txt = "<br/>Do you really want to remove the layer \""+ $(this).attr('name')+"\" from the set?"
            
              txt += "<p align = \"bottom\" style = \"font-size: 12px;\"><input type = \"checkbox\" name=\"display\">"
              txt += "do not show this message again</p>"
            
              id_layer = $(this).attr('id');
              $.prompt(txt, {
                   buttons: {ok: true, cancel: false},
                   submit: del_layer,
                   focus: 1
              });
            }
            else{
              $('#set_layer').attr('value', $(this).attr('id'));
              $('#oprt').attr('value', 'del')
              $('#sets_layer').submit();
            }
          }
        });
        $(".get_style").click(function(){
          tr_layer = $(this).attr('id');
          var txt = "Please, get name and URL for SLD: <br/><br/>"
          txt += "<input type=\"text\" id = \"name\" name=\"name\" value=\"name style\" class = \"input_text\" style = \"margin-top: 5px;\"/>"
          txt += " <input type=\"text\" id = \"URL\" name=\"URL\" value=\"http://\" class = \"input_text\" style = \"margin-top: 5px;\"/> ";
          function add(v, m, f){
            if(!v)
              return true;
            if((f.URL == "") || (f.URL == "http://")){
                an = m.children('#URL');
                an.css("border", "solid #ff0000 1px");
                return false;
            }
            if((f.name == "")||(f.name == "name style")){
                an = m.children('#name');
                an.css("border", "solid #ff0000 1px");
                return false;
            }
            $('#namelayer').attr('value', f.name);
            $('#sld').attr('value', f.URL);
            $('#set_layer').attr('value', tr_layer);
            $('#oprt').attr('value', 'add_style');
            $('#sets_layer').submit();
            return true;
          }
          $.prompt(txt, {
                 buttons: {ok: true, cancel: false},
                 submit: add
          });

        });
        $(".del_style").click(function(){
          tr_layer = $(this).attr('id');
          var txt = "Do you want to remove the layer style?"
          function del(v, m, f){
            if(!v)
              return true;
            $('#set_layer').attr('value', tr_layer);
            $('#oprt').attr('value', 'del_style');
            $('#sets_layer').submit();
            return true;
          }
          $.prompt(txt, {
                 buttons: {ok: true, cancel: false},
                 submit: del
          });
        });
        $(".set_checkbox").click(function(){
          tr_layer = ($(this).attr('id')).substring(3, ($(this).attr('id')).length);
          table = ($(this).attr('id')).substring(0, 3);
          if(table == 'st_')
            id_list = '#set_layer';
          $(id_list).attr('value', tr_layer);
          if($(this).attr('src') == "{{ MEDIA_URL }}images/square.png") {
            $(this).attr('src', "{{ MEDIA_URL }}images/ok_square.png");
            $('#oprt').attr('value', 'hidd_on');
          }
          else{
            $(this).attr('src', "{{ MEDIA_URL }}images/square.png");
            $('#oprt').attr('value', 'hidd_off');
          }
          $('#sets_layer').submit();
        });
        $('.pub').click(function(){
          tr_layer = ($(this).attr('id')).substring(4, ($(this).attr('id')).length);
          prefix = ($(this).attr('id')).substring(0, 4);
          id_list = '#set_layer';
          $(id_list).attr('value', tr_layer);
          if(prefix == 'key_') {
            $('#oprt').attr('value', 'pub_on');
          }
          else{
            $('#oprt').attr('value', 'pub_off');
          }
          $('#sets_layer').submit();
        });
        $('#copy').click(function(){
          {% if selected_set %}
            txt = "{{LAYER_SET_BASE_URL}}{{selected_set.name}}"
            $.prompt(txt, {
                buttons: {ok: true},
                focus: 0
            });
          {% else %}
            var txt = "You have not added a single set <br/>"
            $.prompt(txt, {
                   buttons: {ok: true},
                   focus: 0
            });
          {% endif %}
        });
      });
    </script>
     <style type = "text/css">
      .table_sets tr.droppable-hover td{
        background-color: #dcba84;
      }
      tr.alt td {
        background-color: #f5e2ac;
      }
      tr.over td {
        background: #dcba84;
      }
      tr.checked td{
        background-color: #dcba84;
      }
      #tabl1 {
        width:  1330px;//80%;
        height: 600px;//100%;
        background-image: url({{ MEDIA_URL }}images/fon.png);
        background-repeat: no-repeat;
        align: left;
      }
      #tabl2_left {
        width: 645px;
        height: 450px;
        background-image: url({{ MEDIA_URL }}images/fon_small_left.png);
        background-position: 0% middle;
        background-repeat: no-repeat;
      }
      #tabl2_right {
        width: 645px;
        height: 450px;
        background-image: url({{ MEDIA_URL }}images/fon_small_right.png);
        background-position: 0% middle;
        background-repeat: no-repeat;
      }
      #tabl1_left {
        width: 300px;
        height: 64px;
        border-bottom: 1px solid black;
      }
      #tabl1_right {
        width: 300px;
        height: 64px;
        text-align: right;
        border-bottom: 1px solid black;
      }
      .root {
        width: 100%;
        height: 100%;
      }
      #thead_sourceWMS {
        vertical-align: bottom;
        border-right: 1px solid black;
        height: 55px;
      }
      #thead_customWMS{
        vertical-align: bottom;
        height: 55px;
      }
      #thead {
        height: 5%;
        //text-align: right;
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 28px;
        font-weight: normal;
      }
      #thead_low {
        height: 5%;
        //text-align: right;
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 25px;
        font-weight: normal;
      }
      #thead_small {
        //text-align: left;
        font-style: italic;
        font-family: Verdana, 'Verdana';
        font-size: 18px;
        font-weight: normal;
        margin: 0px 0px 0px 10px;
      }
      #thead_smaller {
        text-align: center;
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 16px;
        font-weight: normal;
        margin: 0px 0px 0px 0px;
      }
      #tbody {
        height: 100%;
      }
      #tbody_left {
        border-right: 1px solid black;
      }
      #image_menu {
        width: 20%;
        border-bottom: 1px solid black;
      }
      .select_style {
        direction: rtl;
        overflow: hidden;
        width: 100%;
        //height: 75%;
        text-align: center;
        font-style: normal;
        font-family: 'Verdana', Verdana;
        font-size: 18px;
        font-weight: normal;
        background-color: #f7efd6;
      }
      #LayerGroup {
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 18px;
        font-weight: normal;
        margin: 0px 0px 10px 0px;
        //    vertical-align: bottom; 
      }
      #tabl1_strok2 {
        height: 85%; #85
      }
      #tabl1_low {
        height: 5%;
      }
      #tabl2_strok1{
        height: 5%;
      }
      #tabl2_strok2{
        height: 75%;
      }
      .leftimg {
        //vertical-align: middle; 
        margin: 0px 10px 2px 0px;
      }
      .uppimg {
        vertical-align: middle; 
        margin: 0px 15px 0px 0px;
        border: 0; 
      }
      .resource_layers {
        vertical-align: top;
        overflow: auto;
        border-width: 1px;
        min-width: 640px;
        max-width: 640px;
        min-height: 570px;
        max-height: 570px;
        background-color: #f7efd6;
      }
      .set_layers {
        vertical-align: top;
        overflow: auto;
        border-width: 1px;
        min-width: 640px;
        max-width: 640px;
        min-height: 570px;
        max-height: 570px;
        background: #f7efd6;
      }
      .input_text{
        height: 1.em; 
        width: 400px;
        font-style: normal;
        font-family: Verdana, 'Verdana';
        font-size: 14px;
        font-weight: normal;
      }

      
    </style>
{% endblock %}

{% block content %}

{% load mptt_tags %}
  <table id = "tabl1" cellpadding = "8" cellspacing = "0" border = "0">
    <TR id = "thead">
      <TD id = "tabl1_left">
        &nbsp;
      </TD>
      <TD id = "tabl1_right" colspan = "3">
        System of managment WMS Resources&nbsp;&nbsp;
      </TD>
    </TR>
    <TR id = "thead_low">
      <TD id = "thead_sourceWMS" align = "center">
        Source WMS server
      </TD>
      
      <TD id = "thead_customWMS" align = "center">
        <img src = "{{ MEDIA_URL }}images/copy.png"class = "uppimg" id = "copy"/>
        Custom virtual WMS server
      </TD>
    </TR>
    <TR id = "tbody" align = "top">
      <TD id = "tbody_left">
        <table id = "tabl2_left" cellpadding = "0" cellspacing = "0" border = "0">
          <TR id = "tabl2_strok1">
              <TD id = "image_menu" align = "center">
                <form action = "" method = "get" id="servers_manager">
                  <img src = "{{ MEDIA_URL }}images/plus.png"   id = "add_service"    border = "0" style = "margin-right: 1px;"/>
                  <img src = "{{ MEDIA_URL }}images/update.png" id = "update_service" border = "0" style = "margin-right: 1px;"/>
                  <img src = "{{ MEDIA_URL }}images/pancel.png" id = "edit_service"   border = "0" style = "margin-right: 1px;"/>
                  {% if selected_set %}
                    <input type = hidden name="list_sets"    value = "{{selected_set.id}}">
                  {% endif %}
                  {% if selected_server %}
                    <input type = hidden name="list_servers" value = "{{selected_server.id}}">
                  {% endif %}
                  <input type = hidden name="add_server"   value = "" id = "service">
                </form>
              </TD>
              <TD align = "center" style = "border-bottom: 1px solid black;">
                <form action = "" method = "get" id="servers">
                {{ list_servers }}
                {% if selected_set %}
                  <input type = hidden name="list_sets" value = "{{selected_set.id}}">
                {% endif %}
                </form>
              </TD>
              <TD width = "10%" align = "center" style = "border-bottom: 1px solid black;">
                <form action = "" method = "get" id="servdel_manager">
                  <img src = "{{ MEDIA_URL }}images/krest.png" id = "delete_service" border = "0" align = "center"/>
                  {% if selected_set %}
                    <input type = hidden name="list_sets"     value = "{{selected_set.id}}">
                  {% endif %}
                  {% if selected_server %}
                    <input type = hidden name="list_servers"  value = "{{selected_server.id}}">
                  {% endif %}
                  <input type = hidden name="delete_server" value = "" id = "delete_server">
                </form>
              </TD>
          </TR>
          <form action = "" method = "get" id = "wmslayer">
            <TR id = "tabl2_strok2" style = "border-top: 1px solid black; background-color: #f7efd6;">
              <TD colspan = "3">
                <div class = "resource_layers" style = "vertical-align: top; margin: 0px;">
                  <table border = "0" align = "top" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0">
                    <tr height = "6%">
                      <td width = "95%" style = "border-bottom: 1px solid black;">
                        <p id = "thead_smaller">
                          WMS layers
                        </p>
                      </td>
                      <td width = "5%" style = "border-bottom: 1px solid black;">
                        <img src = "{{ MEDIA_URL }}images/add.png" class = 'add_inset' border = "0" style = "margin: 3px 10px 3px 0px;" align = "right"/>
                        {%if selected_set %}
                          <input type = hidden name="list_sets"    value = "{{selected_set.id}}">
                        {% endif %}
                        {%if selected_server %}
                          <input type = hidden name="list_servers" value = "{{selected_server.id}}">
                        {% endif %}
                        <input type = hidden name="set_layer"    value = "" id = "to_layer">
                        <input type = hidden name="layers"        value = "" id = "list_layers">
                        <input type = hidden name="oprt" value = "" id = "oprt_add">
                      </td>
                    </tr>
                    <tr>
                      <td colspan = "2">
                        <table class="table_servers" border = "0" align = "top" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0">
                          <tbody>
                            <tr width = "100%" id="node-ss0">
                              <td>
                                {%if selected_server %}
                                <span style = "margin: 0px 0px 0px 0px; font-size: 17px; font-family: Verdana, 'Verdana'; cursor: pointer;word-wrap: break-word;" class="layer_">
                                  WMS Server {{ selected_server.title }} ({{ selected_server.name }})
                                </span>
                                {% else %}
                                  &nbsp;
                                {% endif %}
                              </td>
                              <td width = "10%" align = "center">
                                {%if selected_server %}
                                  <img src = "{{ MEDIA_URL }}images/square.png" id = "sq_0" class = "checkbox" border = "0" style = "cursor: pointer;"/>
                                {% else %}
                                  &nbsp;
                                {% endif %}
                              </td>
                            </tr>
                          {% if selected_server %}
                            {% for node in layers %}
                              {% if node.3 %}
                                <tr id="node-s{{node.2}}" class="child-of-node-s{{node.3}}" >
                              {% else %}
                                <tr id="node-s{{node.2}}" class="child-of-node-ss0">
                              {% endif %}
                                <td>
                                  <span style = "margin: 0px 0px 0px 0px; font-size: 17px; font-family: Verdana, 'Verdana'; cursor: pointer; word-wrap: break-word;" class="layer_" id = "ll{{node.2}}">
                                    {% if node.0 %}
                                      {{ node.0 }} ({{ node.1}}) 
                                    {% else %}
                                      {{ node.1}}
                                    {% endif %}
                                  </span>
                                </td>
                                <td width = "10%" align = "center">
                                  <img src = "{{ MEDIA_URL }}images/square.png" id = "sq_{{node.2}}" class = "checkbox" border = "0" style = "cursor: pointer;"/>
                                </td>
                              </tr>
                            {% endfor %}
                          {% endif %}
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
              </TD>
            </TR>
            <TR id = "tabl2_strok1" height = "10%">
              <TD colspan = "3" align = "center" style = "border-top: 1px solid black; border-bottom: 1px solid black; background-color: #f7efd6;">
                <img src = "{{ MEDIA_URL }}images/add.png" class = 'add_inset' border = "0" class = "leftimg" style = "margin: 2px 10px 2px 0px;" align = "right"/>
              </TD>
            </TR>
          </form>
          <TR id = "tabl2_strok1" style = "border-top: 1px solid black;">
            <TD colspan = "3">
              &nbsp;
            </TD>
          </TR>
          <TR id = "tabl2_strok1" style = "border-top: 1px solid black;">
            <TD colspan = "3">
              &nbsp;
            </TD>
          </TR>
                    <TR id = "tabl2_strok1" style = "border-top: 1px solid black;">
            <TD colspan = "3">
              &nbsp;
            </TD>
          </TR>          <TR id = "tabl2_strok1" style = "border-top: 1px solid black;">
            <TD colspan = "3">
              &nbsp;
            </TD>
          </TR>
        </table>
      </td>
      <td>
        <table border = "0" id = "tabl2_right" cellpadding = "0" cellspacing = "0">
          <TR id = "tabl2_strok1">
            <TD width = "15%" align = "right" style = "border-bottom: 1px solid black;">
              <form action = "" method = "get" id="set_manager">
                <img src = "{{ MEDIA_URL }}images/plus.png" border = "0" class = "add_set" style = "margin-right: 1px;"/>
                <img src = "{{ MEDIA_URL }}images/pancel.png" border = "0" class = "edit_set"  style = "margin-right: 5px;"/>
                {% if selected_server %}
                  <input type = hidden name="list_servers" value = "{{selected_server.id}}">
                {% endif %}
                {% if selected_set %}
                  <input type = hidden name="list_sets" value = "{{selected_set.id}}">
                {% endif %}
                <input type = hidden id = "name_set" name="name_set" value = "">
                <input type = hidden id = "title_set" name="title_set" value = "">
                <input type = hidden id = "abstract_set" name="abstract_set" value = "">
                <input type = hidden id = "keywords_set" name="keywords_set" value = "">
                <input type = hidden id = "add_set" name="add_set" value = "">
                <input type = hidden id = "edit_set" name="edit_set" value = "">
              </form>
            </TD>
            <TD width = "78%" style = "border-bottom: 1px solid black;">
              <form action = "" method = "get" id="sets">
                {{ list_sets }}
                {% if selected_server %}
                  <input type = hidden name="list_servers" value = "{{selected_server.id}}">
                {% endif %}
              </form>
            </TD>
            <TD width = "10%" style = "border-bottom: 1px solid black;">
              <form action = "" method = "get" id="setvdel_manager">
                <img src = "{{ MEDIA_URL }}images/krest.png" border = "0" id = "delete_set" align = "center" style = "margin-left: 5px;" />
                {% if selected_server %}
                  <input type = hidden name="list_servers" value = "{{selected_server.id}}">
                {% endif %}
                {% if selected_set %}
                  <input type = hidden name="list_sets" value = "{{selected_set.id}}">
                {% endif %}
                <input type = hidden id = "del_set" name="delete_set" value = "">
              </form>
            </TD>
          </TR>
          <TR id = "tabl2_strok2" style = "background-color: #f7efd6;" colspan = "3">
            <TD colspan = "3">
              <form action = "" method = "get" id="sets_layer">
              <div class = "set_layers" style = "vertical-align: top; margin: 0px;">
                <table border = "0" align = "top" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0" style = "vertical-align: top; margin: 0px;">
                  <tr height = "6%">
                    <td width = "8%" style = "border-bottom: 1px solid black; border-right: 1px solid black;">
                      <p style = "margin: 0px 0px 0px 1px; font-size: 11px; font-family: Verdana, 'Verdana';">
                        add<br/>&nbsp;&nbsp;&nbsp;&nbsp;here
                      </p>
                    </td>
                    <td style = "border-bottom: 1px solid black;">
                      <p id = "thead_smaller">
                        WMS layers
                      </p>
                    </td>
                    <td width = "5%" style = "border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;" align = "center">
                      <p style = "margin: 0px 0px 0px 0px; font-size: 14px; font-family: Verdana, 'Verdana';">
                        pas
                      </p>
                    </td>
                    <td width = "5%" style = "border-bottom: 1px solid black; border-right: 1px solid black;" align = "center">
                      <p style = "margin: 0px; font-size: 14px; font-family: Verdana, 'Verdana';">
                        style
                      </p>
                    </td>
                    <td width = "7%" style = "border-bottom: 1px solid black; border-right: 1px solid black;" align = "center">
                      <p style = "margin: 0px; font-size: 12px; font-family: Verdana, 'Verdana';">
                        on/off
                      </p>
                    </td>
                    <td width = "5%" style = "border-bottom: 1px solid black;" align = "left">
                      <p style = "margin: 0px 0px 0px 4px; font-size: 14px; font-family: Verdana, 'Verdana';">
                        del
                      </p>
                    </td>
                  </tr>
                  {% load restrict %}
                  <tr>
                  <td colspan = "6">
                  <table border = "0" class="table_sets"  align = "top" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0">
                    <tbody>
                      <tr id="node-lt0">
                        <td align = "center" width = "8%">
                          {% if selected_set %}
                            <img src = "{{ MEDIA_URL }}images/circle.png" id = "cst_0" class = "radiobox" border = "0" style = "cursor: pointer;"/>
                          {% endif %}
                        </td>
                        <td class = "set_layer_">
                          {% if selected_set %}
                            <span style = "margin: 0px; font-size: 17px; font-family: Verdana, 'Verdana'; cursor: pointer; word-wrap: break-word;">
                              Virtual WMS Server {{ selected_set.title }} ({{ selected_set.name }})
                            </span>
                          {% endif %}
                        </td>
                        <td width = "5%" align = "center">
                          {% if selected_set %}
                            {% if selected_set.id|pub_set == 0 %}
                              <img src = "{{ MEDIA_URL }}images/key.png" border = "0" class = "pub" id = "key_0" style = "cursor: pointer;" align = "center"/>
                            {% else %}
                              <p style = "margin: 0px;cursor: pointer;" class = "pub" id = "dots0" align = "center">...</p>
                            {% endif %}
                          {% endif %}
                        </td>
                        <td width = "5%" align = "center">
                          &nbsp;
                        </td>
                        <td width = "7%" align = "center">
                          &nbsp;
                        </td>
                        <td width = "5%" align = "center">
                          &nbsp;
                        </td>
                      </tr>
                      {% if selected_set %}
                        {% for node in layertree %}
                          {% if node.2 %}
                            <tr id="node-st{{node.1}}" class="child-of-node-st{{node.2}}">
                          {% else %}
                            <tr id="node-st{{node.1}}" class="child-of-node-lt0">
                          {% endif %}
                            <td align = "center" width = "8%">
                              {% if not node.4|rect  or node.4|rect == 2 %}
                                <img src = "{{ MEDIA_URL }}images/circle.png" id = "cir_{{node.1}}" class = "radiobox" border = "0" style = "cursor: pointer;"/>
                              {% else %}
                                <img src = "{{ MEDIA_URL }}images/shaded_circle.png" id = "cir_{{node.1}}" class = "radiobox" border = "0" style = "cursor: pointer;"/>
                              {% endif %}
                            </td>
                            <td class="set_layer_">
                              <span class = "wordwrp" style = "margin: 0px; font-size: 17px; font-family: Verdana, 'Verdana'; cursor: pointer; word-wrap: break-word; white-space:-moz-pre-wrap;" >
                              {% if node.4|rect == 1 %}
                                {{ node.0 }} (from {{ node.4|servname }})
                              {% else %}
                                {{ node.0 }}
                              {% endif %}
                              </span>
                            </td>
                            <td width = "5%" align = "center">
                              {% if node.4|rect == 1 %}
                                {% if node.1|pub == 0 %}
                                  <img src = "{{ MEDIA_URL }}images/key.png"  border = "0" class = "pub" id = "key_{{node.1}}" style = "margin:0px; cursor: pointer;" align = "center"/>
                                {% else%}
                                  <p class = "pub" id = "dots{{node.1}}" style = "margin:0px; cursor: pointer;" align = "center">...</p>
                                {% endif %}
                              {% endif %}
                            </td>
                            <td width = "5%" align = "center">
                              {% if node.sld_id %}
                                <img src = "{{ MEDIA_URL }}images/style.png" border = "0" style = "cursor: pointer;" class = "del_style" id = "{{node.1}}"/>
                              {% else %}
                                <img src = "{{ MEDIA_URL }}images/default_style.png" border = "0" style = "cursor: pointer;" class = "get_style" id = "{{node.1}}"/>
                              {% endif %}
                            </td>
                            <td width = "7%" align = "center">
                              {% if not node.5 %}
                                <img src = "{{ MEDIA_URL }}images/ok_square.png" id = "st_{{node.1}}" class = "set_checkbox" border = "0" style = "cursor: pointer;"/>
                              {% else %}
                                {% if node.1|hidden_layer == 1 %}
                                  <img src = "{{ MEDIA_URL }}images/square.png" id = "st_{{node.1}}" border = "0" style = "cursor: pointer;"/>
                                {% else %}
                                  <img src = "{{ MEDIA_URL }}images/square.png" id = "st_{{node.1}}" class = "set_checkbox" border = "0" style = "cursor: pointer;"/>
                                {% endif %}
                              {% endif %}
                            </td>
                            <td width = "5%" align = "center">
                              <img src = "{{ MEDIA_URL }}images/delete.png" class = "dlt_layer" name = "{{ node.0 }}" id = "{{node.1}}" border = "0" style = "cursor: pointer;"/>
                            </td>
                          </tr>
                        {% endfor %}
                      {% endif %}
                    </tbody>
                    </table>
                    </td>
                    </tr>
                    <input type = hidden name="oprt" value = "" id = "oprt">
                    <input type = hidden name="layer" value = "" id = "layer">
                    <input type = hidden name="set_layer" value = "" id="set_layer">
                    <input type = hidden name="namelayer" value = "" id = "namelayer">
                    <input type = hidden name="sld" value = "" id = "sld">
                    {% if selected_server %}
                      <input type = hidden name="list_servers" value = "{{selected_server.id}}">
                    {% endif %}
                    {% if selected_set %}
                      <input type = hidden name="list_sets" value = "{{selected_set.id}}">
                    {% endif %}
                </table>
              </div>
              </form>
            </TD>
          </TR>
          <tr height = "10%">
            <td colspan = "3" style = "border-top: 1px solid black;">
              <form action = "" method = "get" id="add_newgroup">
                <table border = "0" align = "center" width = "100%" height = "100%" cellpadding = "0" cellspacing = "0">
                  <tr height = "50%">
                    <td colspan = "3" height = "50%">
                      <p id = "thead_small" style = "vertical_align: bottom;" style = "margin: 0px 10px 0px 0px;">
                          Add custom LayerGroup:
                        </p>
                      </td>
                    </tr>
                    <tr height = "50%">
                      <td id = "LayerGroup">
                        <p style = "margin-left: 10px;">
                          Title &nbsp;
                          <INPUT type = "text" id = "title_group" name="title_group" size = "28" style = "height: 1.em;">
                        </p>
                      </td>
                      <td id = "LayerGroup" width = "7%" align = "right">
                        <img src = "{{ MEDIA_URL }}images/default_add.png" id = "add_group" style = "vertical_align: bottom; margin-left: 10px;" border = "0" align = "right"/>
                        {% if selected_server %}
                          <input type = hidden name="list_servers" value = "{{selected_server.id}}">
                        {% endif %}
                        {% if selected_set %}
                          <input type = hidden name="list_sets" value = "{{selected_set.id}}">
                        {% endif %}
                        <input type = hidden name="where_layer" value = "" id = "where_layer">
                      </td>
                    </tr>
                  </table>
                </form>
              </td>
            </tr>
            <tr id = "tabl2_strok1">
              <td colspan = "3" style = "border-top: 1px solid black;">
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
      </TR>
    </table>
{% endblock %}
    
    
